@using Student_Job_Finder.Helpers
@model Student_Job_Finder.Models.JobSkillsViewModel

@{
    var role = User.FindFirst("userRole")?.Value;
}

<div class="container job-view-container">
    <h2 class="job-view-title">@Model.PostTitle</h2>

    <p class="job-view-price">
        @Model.Price.ToString("0.00") €
        / @Model.PricePeriod
    </p>


    @if (Model.PostSkills.Any())
    {
        <h2 class="job-view-skills-title">Required Skills</h2>

        <ul class="job-view-skills-list">
            @foreach (var postSkill in Model.PostSkills)
            {
                var studentSkill = Model.StudentSkills.FirstOrDefault(s => s.SkillName == postSkill.SkillName);

                <li>
                    <div class="job-view-skills-container">
                        <span class="job-view-skills-name">@postSkill.SkillName</span>
                        <span class="job-view-skill-level">
                           Job Level: <span class="@SkillHelper.SkillColorClass(postSkill.SkillScore)">@SkillHelper.SkillLevelName(postSkill.SkillScore)</span>
                        </span>

                        @if (studentSkill != null )
                        {
                            <span class="job-view-skill-level">
                                Your Level: <span class="@SkillHelper.SkillColorClass(studentSkill.SkillScore)">@SkillHelper.SkillLevelName(studentSkill.SkillScore)</span>
                            </span>
                        }
                        else if(role != "Recruiter")
                        {
                            <span class="skill-missing">You don't have this skill yet</span>
                        }
                    </div>
                </li>
            }
        </ul>

       
    }

    <p class="job-view-content">@Model.PostContent</p>
    

    @if(role == "Recruiter")
    {
        <a class="btn btn--form margin-bottom-md"
           href="/JobPost/EditPost/@Model.PostId">
            Edit this post
        </a>
    }
    else if(role == "Student")
    {

        <form method="post" action="/JobApplication/Apply">
            <input type="hidden" name="JobPostId" value="@Model.PostId" />
            <input type="hidden" name="returnUrl" value="@Context.Request.Path@Context.Request.QueryString" />
            <button type="submit" class="btn btn--form margin-bottom-md">
                Apply
            </button>
        </form>
    }
</div>