@using Student_Job_Finder.Helpers
@model Student_Job_Finder.Models.StudentSkillsViewModel 

@if (Model.StudentSkills.Count == 0)
{
    <p>You have no skills yet.</p>
}
else
{
    <div class="container">
        <div class="profile-skills-container">

            <div class="skills-list">
                @foreach (var skill in Model.StudentSkills)
                {
                    <div class="skill-card">
                        <div class="skill-color-bar @SkillHelper.SkillColorClass(skill.SkillScore)"></div>
                        <div class="skill-card-content">
                            <h3>@skill.SkillName</h3>
                            <p>Level: <span class="skill-level @SkillHelper.SkillColorClass(skill.SkillScore)">@SkillHelper.SkillLevelName(skill.SkillScore)</span></p>
                        </div>
                    </div>
                }
            </div>


            <div class="skills-list">
                @foreach(var job in Model.PotentialJobs)
                {
                    <div class="skill-card">
                        <div class="skill-color-bar potential-jobs-color"></div>
                            <div class="skill-card-content">
                                <h3>@job.Key</h3>
                                <p>Potential Jobs: @job.Value </p>
                            </div>
                     </div>
                }
            </div>
        </div>
    </div>
}

<div class="pdf-upload-section">
    @if (Model.StudentSkills.Count == 0)
    {
        <h3 class="pdf-text-heading">Upload a PDF to Extract Skills</h3>
    }
    else
    {
        <h3 class="pdf-text-heading">Reupload a PDF to Recalculate Skills</h3>
    }
    <p class="pdf-text">Please upload a PDF containing your skills. The system will extract them automatically.</p>

    <form id="pdfForm" class="pdf-form" action="/SkillExtractor/ExtractSkills" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".pdf" required />
        <button type="submit" class="btn btn--form">Upload PDF</button>
    </form>
</div>

<div id="loading" class="loading-screen" style="display:none;">
    <h3 class="pdf-text-heading">Processing your PDF…</h3>
    <p class="pdf-text">Please wait, this may take 5–15 seconds.</p>
</div>

<script>
    document.getElementById("pdfForm").addEventListener("submit", function () {
        document.getElementById("loading").style.display = "block";
    });
</script>
